{% extends "base.html" %}
        {% block page_content_wrapper %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Training Jobs</h1>
          </div>

          <!-- Content Row -->
          <div class="row">
          </div>

          <!-- Content Row -->
          <div class="row">
            {% for job in jobs %}
            <div class="col-xl-12 col-lg-12">
              {% if job.status == "FINISHED" %}
              <div class="card border-left-success shadow mb-4 job{{ job.id }}">
              {% elif job.status == "FAILURE" %}
              <div class="card border-left-danger shadow mb-4 job{{ job.id }}">
              {% elif job.status == "CANCELED" %}
              <div class="card border-left-danger shadow mb-4 job{{ job.id }}">
              {% else %}
              <div class="card border-left-primary shadow mb-4 job{{ job.id }}">
              {% endif %}
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">JOB ID: {{ job.id }} -- {{ job.status }}</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400">Operation</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(17px, 17px, 0px);">
                      <a class="dropdown-item cancel-job" data-id="{{ job.id }}" href="javascript:void(0)">Cancel Job</a>
                      <a class="dropdown-item rerun-job" data-id="{{ job.id }}" href="javascript:void(0)">Rerun Job</a>
                      <a class="dropdown-item clean-job" data-id="{{ job.id }}" href="javascript:void(0)">Clean Job</a>
                    </div>
                  </div>
                </div>
                <!-- Card Header - Dropdown -->

                <!-- Card Body -->
                <div class="card-body">
                  <p class="card-text">User: {{ job.username }}</p>
                  <p class="card-text">Name: {{ job.job_name }}</p>
                  <p class="card-text">Image: {{ job.image }}</p>
                  <div class="accordion" id="accordionJob{{ job.id }}">
                    {% for worker in job.all_workers %}
                    <div class="card">
                      <div class="card-header" id="headingWork{{ worker.id }}">
                        <h2 class="mb0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseWorker{{ worker.id }}" aria-expanded="false" aria-controls="collapseWork{{ worker.id }}">
                          {{ worker.avesrole }}-{{ worker.role_index }}
                        </button>
                        </h2>
                      </div> <!-- card header -->
                      <div id="collapseWorker{{ worker.id }}" class="collapse" aria-labelledby="headingWork{{ worker.id }}" data-parent="#accordionJob{{ job.id }}">
                        <div class="card-body">
                          <h6>
                          <span class="badge badge-secondary">CPU {{worker.cpu_request}}</span>
                          <span class="badge badge-secondary">MEM {{worker.mem_request}}G</span>
                          {% if worker.gpu_request %}
                          <span class="badge badge-secondary">GPU {{worker.gpu_request}}</span>
                          {% endif %}
                          </h6>
                          <hr>
                          <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#workerInfoModal" data-id="{{ worker.id }}">Worker Info</button>
                          <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#workerLogsModal" data-id="{{ worker.id }}">Worker Log</button>
                        </div>
                      </div>
                    </div> <!-- Card worker -->
                    {% endfor %}
                  </div> <!-- accordion -->
                </div>
              </div>
            </div>
            {% endfor %}

<nav aria-label="Page navigation">
  <ul class="pagination">
{% if jobs.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{% url 'aves_jobs' jobs.previous_page_number %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
{% endif %}
{% for num in jobs.paginator.page_range %}
    {% if num == jobs.number %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="{% url 'aves_jobs' num %}">{{ num }}<span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{% url 'aves_jobs' num %}">{{ num }}</a></li>
    {% endif %}
{% endfor %}
{% if jobs.has_next %}
    <li class="page-item">
      <a class="page-link" href="{% url 'aves_jobs' jobs.next_page_number %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
{% endif %}
  </ul>
</nav>
          </div>
          <!-- Content Row -->

        {% endblock %} 

        {% block extend_script %}
        <script type="text/javascript">
          $(function(){
            $("a.cancel-job").click(function(e){
              var work_id = $(this).data("id");
              var $card = $("div.job"+work_id);
              var $card_h = $("div.job"+work_id).children(".card-header").children("h6");
              $.ajax({
                url: "/{{ url_prefix }}/api/aves_job/" + work_id + "/cancel_job/",
                type: "GET",
                success: function(data, status) {
                  $card.addClass("border-left-danger");
                  $card_h.html("JOB ID: "+work_id+"-- CANCELD");
                }
              });
            });

            $("a.rerun-job").click(function(e){
              var work_id = $(this).data("id");
              var $card = $("div.job"+work_id);
              var $card_h = $("div.job"+work_id).children(".card-header").children("h6");
              $.ajax({
                url: "/{{ url_prefix }}/api/aves_job/" + work_id + "/start_job/",
                type: "GET",
                success: function(data, status) {
                  $card.removeClass("border-left-success border-left-danger border-left-primary");
                  $card.addClass("border-left-primary");
                  $card_h.html("JOB ID: "+work_id+"-- STARTING");
                }
              });
            });

            $("a.clean-job").click(function(e){
              var work_id = $(this).data("id");
              var $card = $("div.job"+work_id);
              var $card_h = $("div.job"+work_id).children(".card-header").children("h6");
              $.ajax({
                url: "/{{ url_prefix }}/api/aves_job/" + work_id + "/clean_job/",
                type: "GET",
                success: function(data, status) {
                }
              });
            });

            $('#workerInfoModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var worker_id = button.data('id');
              var modal = $(this);
              modal.find('.modal-title').text('Worker Status');
              modal.find('.modal-body').find('pre').html('Plase wait ...');
              $.ajax({
                url: "/{{ url_prefix }}/api/aves_worker/" + worker_id + "/worker_info/",
                type: "GET",
                success: function(data, status) {
                  modal.find('.modal-body').find('pre').html(data);
                },
                error: function(data, status) {
                  modal.find('.modal-body').find('pre').html(data);
                },
              });
            });

            $('#workerLogsModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var worker_id = button.data('id');
              var modal = $(this);
              modal.find('.modal-title').text('Recent Logs');
              modal.find('.modal-body').find('pre').html('Plase wait ...');
              $.ajax({
                url: "/{{ url_prefix }}/api/aves_worker/" + worker_id + "/logs/",
                type: "GET",
                success: function(data, status) {
                  modal.find('.modal-body').find('pre').html(data);
                },
                error: function(data, status) {
                  modal.find('.modal-body').find('pre').html(data);
                },
              });
            });
          })
        </script>
        {% endblock %}

  {% block modal_block %}
  <div class="modal fade" id="workerInfoModal" tabindex="-1" role="dialog" aria-labelledby="workerInfoModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="workerInfoModalScrollableTitle">Worker Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre style="word-wrap: break-word; white-space: pre-wrap;">
          </pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="workerLogsModal" tabindex="-1" role="dialog" aria-labelledby="workerLogsModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="workerLogsModalScrollableTitle">Recent Logs</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre style="word-wrap: break-word; white-space: pre-wrap;">
          </pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
