aws s3 --endpoint-url={{ oss_endpoint }} --only-show-errors --page-size=100000000 --profile={{ oss_profile }} sync {{ src }} {{ dst }}
if [ ! $? -eq 0 ]; then
    # TODO
    err_msg="Fail to prepare data: {{ src }}"
    report_worker_status "FAILURE" "$err_msg"
    report_job_fail "$err_msg"
fi

